
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	margin:0%;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
	
	color:#FF4500;
	font-family:'Baloo 2',sans-serif;
	font-size:larger;
	margin-left:10%;
}

.menu{
	display:flex;
	flex-direction:row;
	align-items:center;
	width:100%;
	padding:25px;
	gap:8%;
	margin-left:20%;
	font-family:sans-serif;
	font-size:medium;
	font-weight:570;
	
}
.menu img{
	height:25px;
	width:25px;
	margin-right:10px;
	vertical-align: middle;
}

.menu a{
	color:black;
}
.menu a:visited{
	color:black;
}

.menu a:hover{
	color:#FF4500;
}

.anchor:active{
	color:#FF4500;
}
.anchor:visited{
	color:#FF4500;
}
a{
	text-decoration:none;
	color:black;
}
a:active{
	color:black;
}
a:visited{
	color:black;
}

body{
	font-family:'Montserrat',sans-serif;
}


.Menu-Container{
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	
}
.Menu{

	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:20px;
	width:80%;
	margin-left:5%;
	margin-right:10%;
	padding:1%;

	border-radius:15px;
	
}


.Menu-Item{
	width:60%;
	line-height:30px;
	height:fit-content;
	padding-left:8%;
	

}

.Menu-Image{
	margin-top:8%;
	height:fit-content;
	margin-left:190%;

}
.btn{
	background-color:green;
	color:white;
	border-radius:5px;
	margin-left:205%;
	width:100px;
	height:30px;
	transition : transform 0.2s ease-in-out;
}
.btn:hover{
	transform: scale(0.95);
}

h2{
	padding-top:2%;
	color:#595959;
}
h3{
	color:#404040;
}
p{
	padding-left:2%;
}


